@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  /* Light Mode (Default) */
  --color-bg-page: #f9fafb;
  --color-bg-card: #ffffff;
  --color-text-default: #1f2937;
  --color-border-default: #e5e7eb;
}

.dark {
  /* Dark Mode */
  --color-bg-page: #1a202c;
  --color-bg-card: #2d3748;
  --color-text-default: #f7fafc;
  --color-border-default: #4a5568;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Inter", sans-serif;

  background-color: var(--color-bg-page);
  color: var(--color-text-default);
  transition: background-color 0.3s, color 0.3s;
}
